body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.card-img-top {
  max-height: 215px; /* ajusta la altura máxima según tus necesidades */
  object-fit: cover;
}